*{
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}
#root {
  background:#f4f4f4 url('./images/02-heavy-paper.png') repeat;
}
.wrapper {
  background-color: white;
  min-height: 100vh;
}
.button {
  background-color:#F9CEC0;
}
.button:hover {
  background-color: black;
  color:white;
}
/* Header */
.header-container {
  background-color: #F9CEC0;
}
.header-container img {
  width: 30px;
}
.header-container h3 {
  font-family: 'Cedarville Cursive', cursive;
  color:#343a40;
}
.header-container p:hover {
  cursor: pointer;
}
.cart-icon i {
  font-size:20px;
  padding-right: 30px;
}
.cart-count {
  background-color: white;
  color: black;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 10px;
  top: -8px;
  right: 14px;
  z-index: 1;
}
/* Product List */
.product-img{
 object-fit: cover;
 height: 300px;
}
.details-img img {
  object-fit: cover;
  height: 410px;
}
.product-img:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 8px 0px #F9CEC0;
-moz-box-shadow: 0px 0px 8px 0px #F9CEC0;
box-shadow: 0px 0px 8px 0px #F9CEC0;
}
.product-name {
  font-weight: 700;
}
/* Product Details */
.btn-back {
  font-size: 12px;
}
.btn-back span {
  cursor: pointer;
}
.details-name {
  font-size:25px;
  font-weight: 700;
}
/* Cart */
.cart {
  position: fixed;
  height: 100vh;
  background-color: #f3f3f3;
  z-index: 2;
  width: 320px;
  right: 0;
  transition: 0.7s ease;
  box-shadow: 0 0 7px #808080;
}
.cart-hidden {
  right:-320px;
  transition: 0.7s ease;
  display: none;
}
.cart-container {
  height: 100%;
  overflow-y: scroll;
}
.cart-container .btn-back i {
  font-size: 20px;
  cursor: pointer;
}
.cart-header-container h1, .form h1 {
  font-size: 30px;
  font-weight: 700;
}
.cart-item {
  background-color: white;
}
.cart-item-img img {
  object-fit: cover;
  height: 95px;
  width: 85px;
}
.cart-item-info h2, .cart-item-info h6 {
  font-size: 13px;
}
.cart-item-info h6 {
  font-weight: 300;
}
.total-price {
  border-top:1px solid #dadada;
  border-bottom:1px solid #dadada;
  font-size: 14px;
}
.cart-icon {
  cursor: pointer;
}
/* Checkout */
.checkout-content {
  background-color: #f8f8f8;
}
.checkout-content label {
  font-size: 13px;
}
.checkout-content input, .checkout-content select {
  border: 1px solid #dadada;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: white;
}
.credit-card img {
  object-fit: contain;
}
.info-disclaimer label {
  font-size:14px;
}
/* Modal */
.disclaminer {
  background-color:white;
  height: 100vh;
  position: fixed;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.disclaminer p {
  font-size:18px;
  font-weight: 300;
}
.disclaminer span {
  font-weight: 700;
}
